.iconContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.icon {
    display: inline-grid;
}

.iconText {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    text-align: center;
    word-break: break-all;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

@media (min-width: 830px) {
    .iconText {
        font-size: 18px;
    }
}

@media screen and (min-width: 1150px){
    .iconText {
        font-size: 20px;
        width: 300px;
    }
  }

.competenceIcon {
    margin: auto;
    font-size: 60px;
}

.socialLink {
    color: rgba(31, 132, 41, 0.47);
    font-size: 60px;
    margin: auto;
}

.socialLink:hover {
    color: rgba(31, 132, 41, 0.7);
    font-size: 80px;
    transition: all 0.5s ease-in-out;
}