li {
    font-family: 'Roboto', sans-serif;
    list-style: url(../assets/img/puce-list.svg);
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.list {
    margin: auto;
    width : 350px;
}

@media screen and (min-width: 1150px){
    li {
        font-size: 18px;
    }
}