p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;    
    margin: auto;
    width: 300px;  
    margin-top: 20px;      
}

@media (min-width: 830px) {
    p {
        font-size: 18px;
        width: 500px; 
    }
}

@media screen and (min-width: 1150px){
    p {
        font-size: 22px;
        width: 780px; 
    }
  }



